# Exploration of the dataset

In [8]:
import yfinance as yf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
data = yf.download(tickers=["AAPL"], period="5y", interval="1d", auto_adjust=True)
data.columns = data.columns.droplevel(1)
print(data.shape)
print(data.columns)
data.head()

[*********************100%***********************]  1 of 1 completed

(1256, 5)
Index(['Close', 'High', 'Low', 'Open', 'Volume'], dtype='str', name='Price')

Price            Close        High         Low        Open     Volume
Date
2021-01-25  139.125839  141.238230  132.915207  139.271866  157611700
2021-01-26  139.359467  140.469202  137.616978  139.787788   98390600
2021-01-27  138.288635  140.469174  136.682445  139.622260  140843800
2021-01-28  133.450592  138.220518  133.070946  135.816089  142621100
2021-01-29  128.456772  133.109873  126.753230  132.224027  177523800